* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT */
.left {
    width: 65%;
    background: url("images/bg.jpg") center/cover no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 80px;
    left: 60px;
    color: white;
}

.overlay h4 {
    color: #ff9800;
    font-weight: 600;
    margin-bottom: 15px;
}

.overlay h1 {
    font-size: 44px;
    line-height: 1.2;
}

.logo {
    width: 90px;
    margin-bottom: 20px;
}

/* RIGHT */
.right {
    width: 35%;
    background: #f1f3f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel {
    width: 340px;
    background: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(0,0,0,.08);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title img {
    width: 55px;
    margin-bottom: 10px;
}

.title h3 {
    font-size: 14px;
    font-weight: 700;
}

.title p {
    font-size: 12px;
    color: #777;
}

.login-panel input {
    width: 100%;
    padding: 11px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #f8f9fb;
}

.forgot {
    text-align: left;
    margin-bottom: 15px;
}

.forgot a {
    font-size: 12px;
    color: #777;
    text-decoration: none;
}

.btn-primary {
    width: 100%;
    padding: 11px;
    background: #0b5ed7;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.remember {
    text-align: right;
    font-size: 12px;
    margin: 10px 0;
}

.divider {
    height: 1px;
    background: #e0e0e0;
    margin: 15px 0;
}

.btn-sso {
    width: 100%;
    padding: 10px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.campus {
    margin-top: 15px;
}

.campus img {
    width: 100%;
    border-radius: 4px;
}
.input-box {
  position: relative;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 12px 14px 12px 42px; /* chừa chỗ cho icon */
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  background: #f5f8ff;
}

/* ICON CHUNG */
.input-box .icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.6;
  pointer-events: none;
}

/* ICON USER */
.icon.user {
  background: url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png")
              center/contain no-repeat;
}

/* ICON KEY */
.icon.key {
  background: url("https://cdn-icons-png.flaticon.com/512/159/159604.png")
              center/contain no-repeat;
}

/* FOCUS */
.input-box input:focus {
  outline: none;
  border-color: #4a7dff;
  background: #fff;
}
